
.product .product-cart .with-table{
    height: 200px;
}
.product .product-cart .information .btn-delete-cs{
    background-color: #e1606a;
    color: #fff;
}
.product .product-cart .with-table .unit{
    top : -1px;
    font-size:10px;
}
.product .product-cart .with-table .price{
    top:-5px;
    font-weight: 700;
}

.boxShadow{
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
}
.boxShadow:hover{
    background-color: rgb(153, 218, 140);
}