
.topic{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f8f4f4c7;
}
.topic .btn-color{
    background-color: #e1606a;
    font-size: 12px;
}
.topic .top-header{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.topic .color-form{
    /* background-color: #e3e3e3; */
}
.topic .form-main{
   margin: auto;
   /* height: 100vh !important; */
}
.topic .form-main .form-list-menu{
    width: 280px;
    float: right;
    background-color:  #F5F5F5;
}
/*CSS list form find*/
.topic .form-main .form-information{
    /* width: calc(100% - 100px);
    float: left */
}
.topic .form-main .form-information .topiclist{
    font-family: 'Ubuntu', sans-serif;
}
.topic .form-main .form-information .topiclist .information-main{
    height: 50px;
    background-color: #e1606a;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    margin-bottom: unset;
}
/* .form .form-main .form-information .topiclist ul .bg-icon::before{
    background-image: url("../../image/i-dog.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
} */
.topic .form-main .form-information .topiclist .information-main li{
    display: inline;
    line-height: 50px;
}
.topic .form-main .form-information .topiclist .information-main .header-name{
    display: block;
    width: 50%;
    float: left;
    font-size: 1.2rem;
    color: #fff;
}
.topic .form-main .form-information .topiclist .information-main .topics{
    display: block;
    width: 8%;
    float: left;
    
}
.topic .form-main .form-information .topiclist .information-main .posts{
    display: block;
    width: 8%;
    float: left;
}
.topic .form-main .form-information .topiclist .information-main .last-post{
    display: block;
    width: 25%;
    float: left;
}

.topic .form-main .form-information .topiclist .information-main .text-color{
    color: #fff;
    font-size: 1rem;
}
.topic .form-main .form-information .topiclist .information-category{
    height: 100px;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: unset;
}
.topic .form-main .form-information .topiclist .information-category .bg-icon::before{
    background-color: #777777;
    position: absolute;
    background-repeat: no-repeat;
    content:"";
    top:99px;
    bottom: 0;
    left: 0;
    right: 0;
}
.topic .form-main .form-information .topiclist .information-category .bg-last{

}
.topic .form-main .form-information .topiclist .information-category .header-name{
    display: block;
    width: 50%;
    float: left;
}
.topic .form-main .form-information .topiclist .information-category .header-name .hd-color{
    color: black;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;

}
.topic .form-main .form-information .topiclist .information-category .header-name .hd-color:hover{
    color: #e1606a;
}
.topic .form-main .form-information .topiclist .information-category .header-name .dec-color{
    color: #777777;
   font-size: 12px;
}
.topic .form-main .form-information .topiclist .information-category .topics{
    display: block;
    width: 8%;
    float: left;
    
}
.topic .form-main .form-information .topiclist .information-category .posts{
    display: block;
    width: 8%;
    float: left;
}
.topic .form-main .form-information .topiclist .information-category .last-post{
    display: block;
    width: 25%;
    float: left;
}

.topic .form-main .form-information .topiclist ul .text-color{
    color: #777777;;
    font-size: 13px;
}
/*pagination*/
.topic  #page-numbers {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
.topic   #page-numbers > li {
    color: #e1606a;
    user-select: none;
    cursor: pointer;
    margin: 0 3px;
    padding: 0 5px;
    border: 1px solid #e1606a;;
    text-align: center;
    border-radius: 2px;
  }
  
.topic    #page-numbers > li:not(.active):hover {
    background: #e1606a;
    color: white;
  }
  
.topic    #page-numbers > li.active {
    border-color: #e1606a;;
    color: white;
    background: #e1606a;
    cursor: default;
  }
