.form-main .form-information .topiclist .user-information{
    height : 65px !important
}
.form-main .form-information .new-text-color{
    font-size: 15px !important;
}
.form-main .form-information .information-category .new-header-name{
    margin-left: 10% !important;
}
