.main-menu-area .border-btm{
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    transition: all 1s 
    
}
.main-menu{
    
}
.main-menu ul{
    list-style-type: none;
    
}
.main-menu ul li{
    display: inline-block;
    position: relative;
}
.main-menu ul li ul li{
    display: block;
   
} 
.main-menu ul li ul li:hover .chid{
    display: block;
    color: #e1606a !important;
}
.main-menu ul li ul li:hover{
    background: #fff !important;
}
.main-menu ul li ul{
    position: absolute;
    background: #e1606a;
    min-width: 200px;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding-left: 0px;
    margin-top: -12px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
}
.main-menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}
/*LUU y*/
.main-menu ul li:hover .parent  {
   background-color: #e1606a;
}
/*LUU y*/
/* .main-menu ul li   {
    background-color: #e1606a;
 } */
.main-menu ul li .parent:hover {
    opacity: 1;
    visibility: visible;
    background-color: #e1606a;
    cursor: pointer;
}

.main-menu ul li .cart-border {
    border: 1px solid #fff;
}
.main-menu ul li .cart-border .sll{
    /* border: 1px solid #fff; */
    background-color: yellow;
    color: black;
    margin-left: 5px;
    padding: 2px;
    padding-bottom: 4px;
    border-radius: 50%;
}
.main-menu ul li .dropdown-parent:hover {
    background-color:inherit   !important;
}

.main-menu ul .login{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.main-menu ul li ul li .chid{
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 27px;
    /* margin: 15px 20px; */
    display: block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    border-radius: 6px;
}
.main-menu ul li .parent{
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    margin: 15px 20px;
    display: block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    border-radius: 6px;
} 
.main-menu ul li .parent2{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    margin: 15px 20px;
    display: block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    border-radius: 6px;
} 
.main-menu ul li .parent2 .bg-user{
    background-color: initial;
    border : 1px solid #fff;
    color: #fff;
}
.main-menu ul li .parent2 .custom-drop-menu{
    min-width: 0;
    font-size: 13px;
}
.main-menu ul li .parent2 .custom-drop-menu:hover ~ .bg-user{
  background-color: #e1606a;
}
.main-menu ul li .parent2 .custom-drop-menu .custom-drop-item:hover{
    background-color: #e1606a;
    color: #fff;
}

.single-slider{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat
}
.slider-title{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.table-cell{
    display: table-cell;
    vertical-align: middle
}
.table-cell h2 {
    font-weight: 600;
    color: crimson;
    text-transform: uppercase
}
.table-cell p{
    color: gold;
    font-size: 25px;
}
.newBB{
    background-color: #fff;
    transition: all 0.8s ease 0.1s;
}


/**Add stickyy*/
.sticky{
    background-color: #fff !important;
    position: fixed;
    z-index: 500;
    transition: all 0.7s ease 0.1s
}

.sticky .main-menu ul li .parent2 .bg-user{
    background-color: initial;
    border : 1px solid #4f372d;
    color: #4f372d;
}

.dropdown-menu.show{
    transition: all 0.3s ease 0s;
}
.sticky .dropdown-menu.show{
    transition: all 0.3s ease 0s;
}
.sticky .main-menu-area .logo a{
    color: #4f372d;
    /* margin-top: 1rem; */
} 
.sticky .main-menu ul li a{
    color: #4f372d;
    /* padding: 15px 20px; */
}
.sticky .main-menu ul li p{
    color: #e1606a;
    /* padding: 15px 20px; */
}
.sticky .main-menu ul li .parent:hover {
    color: #4f372d;
}
.sticky .main-menu ul li ul li a{
    color: #4f372d;
}
.sticky .main-menu ul li ul li a:hover{
    color: #4f372d !important;
}
.sticky .main-menu ul li .parent:hover {
    opacity: 1;
    visibility: visible;
    background-color: #e1606a;
    cursor: pointer;
}

/* .sticky .main-menu ul li ul li:hover {
   color: #fff !important;
} */
.main-menu nav ul {
    margin-bottom: 0;
}
.slider-area .slick-next {
    right : 0px;
    width: 48px;
    height: 100%;
}
.slider-area .slick-prev {
    z-index: 2;
    left: 0px; 
    width: 48px;
    height: 100%;
}

.popup2{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    text-outline: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', sans-serif;
}
.popup2-content{
    height: auto;
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.close{
    position: absolute;
    top: -13px;
    right: -13px;
    background: #fff;
    height: 25px;
    width: 23px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}

.popup2-content .textbox{
    width: 90%;
    overflow: hidden;
    font-size: 25px;
    border-bottom: 1px solid #e1606a;
    margin-bottom: 20px;
}
.popup2-content .textbox i{
    width: 20px;
    text-align: center;
    color: #5c5f62;
  
}
.popup2-content .textbox input{
    border : none;
    outline : none;
    background : none;
    font-size: 14px;
    width: 80%;
    margin: 0 0 10px 9px;
}
.popup2-content .p-login-register{
    width: 95%;
   text-align: center;
   margin-top: 0.3rem;
}
.popup2-content .p-login-register span{
    color: rgba(0, 0, 0, 0.5)
}
.popup2-content .p-login-register a{
    text-decoration: none
}
.popup2-content .btn-login{
    background-color: #e1606a !important;
    padding: 8px 25px;
}
.popup2-content .login-title{
    margin-bottom: 0.3rem;
    font-size: 18px;
    font-weight: 600;
    color: #e1606a;
    opacity: 0.85   ;
}
.popup2-content .title-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.sIndex{
    z-index: 500;
}