.upload-component .image-brand{
    width: 100px;
    height: 100px;
}
.upload-component .admin-brand-name p{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}